node_modules
.output
dist
prisma/dev.db
.nuxt
.output/nitro.json
.output/public/_nuxt/composables.d706270c.js
.output/public/_nuxt/entry.34711916.js
.output/public/_nuxt/error-404.b9e362ff.js
.output/public/_nuxt/error-500.db7b43f7.js
.output/public/_nuxt/error-component.038bdb52.js
.output/public/_nuxt/index10.e7f967b7.js
.output/public/_nuxt/input-shims.9198ef59.js
.output/public/_nuxt/ios.transition.036fc246.js
.output/public/_nuxt/md.transition.8fc67c96.js
.output/public/_nuxt/status-tap.db487ce4.js
.output/public/_nuxt/swipe-back.bfdea6d3.js
.output/public/_nuxt/tab1.edff1844.js
.output/public/_nuxt/tab2.f64c8475.js
.output/public/_nuxt/tab3.144a855e.js
.output/public/_nuxt/tab4.91ca317e.css
.output/public/_nuxt/tab4.fd23cd9c.js
.output/public/_nuxt/tabs.217f764f.js
.output/public/_nuxt/web.db26ee8c.js
.output/public/_nuxt/web.e98100bd.js
.output/public/_nuxt/web.f7026a9b.js
.output/server/package.json
.output/server/chunks/app/client.manifest.mjs
.output/server/chunks/app/client.manifest.mjs.map
.output/server/chunks/app/server.mjs
.output/server/chunks/app/styles.mjs
.output/server/chunks/app/_nuxt/composables.963ce5a4.mjs
.output/server/chunks/app/_nuxt/composables.963ce5a4.mjs.map
.output/server/chunks/app/_nuxt/error-404.d24d2c05.mjs
.output/server/chunks/app/_nuxt/error-404.d24d2c05.mjs.map
.output/server/chunks/app/_nuxt/error-500.3d1a92d6.mjs
.output/server/chunks/app/_nuxt/error-500.3d1a92d6.mjs.map
.output/server/chunks/app/_nuxt/error-component.09a96f3c.mjs
.output/server/chunks/app/_nuxt/error-component.09a96f3c.mjs.map
.output/server/chunks/app/_nuxt/index10.f57f5624.mjs
.output/server/chunks/app/_nuxt/index10.f57f5624.mjs.map
.output/server/chunks/app/_nuxt/input-shims.44a57a07.mjs
.output/server/chunks/app/_nuxt/input-shims.44a57a07.mjs.map
.output/server/chunks/app/_nuxt/ios.transition.0a7f132a.mjs
.output/server/chunks/app/_nuxt/ios.transition.0a7f132a.mjs.map
.output/server/chunks/app/_nuxt/md.transition.da3f83a9.mjs
.output/server/chunks/app/_nuxt/md.transition.da3f83a9.mjs.map
.output/server/chunks/app/_nuxt/status-tap.a3169216.mjs
.output/server/chunks/app/_nuxt/status-tap.a3169216.mjs.map
.output/server/chunks/app/_nuxt/swipe-back.86dc1660.mjs
.output/server/chunks/app/_nuxt/swipe-back.86dc1660.mjs.map
.output/server/chunks/app/_nuxt/tab1.a5e649a3.mjs
.output/server/chunks/app/_nuxt/tab1.a5e649a3.mjs.map
.output/server/chunks/app/_nuxt/tab2.240ab16a.mjs
.output/server/chunks/app/_nuxt/tab2.240ab16a.mjs.map
.output/server/chunks/app/_nuxt/tab3.03a9124a.mjs
.output/server/chunks/app/_nuxt/tab3.03a9124a.mjs.map
.output/server/chunks/app/_nuxt/tab4-styles.97ec005a.mjs
.output/server/chunks/app/_nuxt/tab4-styles.97ec005a.mjs.map
.output/server/chunks/app/_nuxt/tab4.c60a7cac.mjs
.output/server/chunks/app/_nuxt/tab4.c60a7cac.mjs.map
.output/server/chunks/app/_nuxt/tabs.2921fc2a.mjs
.output/server/chunks/app/_nuxt/tabs.2921fc2a.mjs.map
.output/server/chunks/nitro/node-server.mjs
